:root {
    --text-color: #333;
    --background-color: #f9f9f9;
    --primary-color: #007bff;
    --border-color: #ddd;
    --font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
    padding: 10px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

div {
    align-items: left;
    justify-content: left;
}

h1, h2, h3 {
    font-weight: 600;
    margin-top: 0.0em;
    margin-bottom: 0.0em;
    color: #111;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1em;
}

p {
    margin-top: -0.25em;
    margin-bottom: 0em;
}

a {
    margin-top: -0.25em;
    margin-bottom: 0em;
    display: inline-block;
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Горизонтальная линия */
hr {
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 1em 0;
}

input {
    width: 50%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
    background-color: white;
}

input:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-color);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
    background-color: white;
}

textarea:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0 0 0 1px var(--primary-color);
}

/* Кнопка */
button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004085;
}