<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Карта предложений {{ official_place }}</title>
        <link rel="stylesheet" href="/static/min.css">
    </head>
    <body>
        <h1>Правовая информация о сервисе "Карта предложений {{ official_place }}"</h1>
        <h2>Администрация сайта: {{ official_name }}</h2>
        <hr/>
        <h2>Правила пользования настоящим сервисом</h2>
        <p>!!! RULES !!!</p>
        <hr/>
        <h2>Политика обработки персональных данных</h2>
        <p>!!! PRIVACY !!!</p>
        <hr/>
        <a href="https://github.com/lb357/bulbatech-citymap">Сервис реализован на основе BulbaTech-citymap</a>
    </body>
</html>