<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Карта предложений {{ official_place }}</title>
        <link rel="stylesheet" href="/static/min.css">
    </head>
    <body>
        <h1>Вход в панель управления сервисом "Карта предложений {{ official_place }}"</h1>
        <hr>
        <h2>Администрация сайта: {{ official_name }}</h2>
        <!--<p>Административный токен: </p>-->
        <input type="password" id="token"/>
        <button onclick="login()">Войти</button>
        <hr>
        <h3>Сервис реализован на основе BulbaTech-citymap</h3>
        <script src="static/official.js"></script>
    </body>
</html>